<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/output.css" />
    <link rel="shortcut icon" href="/assets/favicon.png" type="image/x-icon">
    <title>Pern Stack</title>
  </head>
  <body>
    <nav class="mx-4 flex items-center gap-2">
      <a
        href="/"
        class="text-4xl font-medium text-transparent bg-clip-text bg-gradient-to-b from-green-700 to-green-500"
      >
        Pern Stack
      </a>
      <i data-lucide="menu"></i>
    </nav>

    <script src="https://unpkg.com/lucide@latest"></script>
    <script>
      lucide.createIcons();
    </script>
  </body>
</html>
